
.card{
	position: relative;
	width: 320px;
	height: 380px;
	background-color: #111;
	border-radius: 20px;
	overflow: hidden;
}
.card::before{
	content: '';
	position: absolute;
	top: -50%;
	width: 100%;
	height: 100%;
	background:darkgrey;
	transform: skewY(345deg);
	transition: 0.5s;
}
.card:hover::before{
	top: -70%;
	transform: skewY(390deg);
}
.card::after{
	content: 'EggCart';
	position: absolute;
	bottom: 20%;
	left: 5%;
	font-weight: 600;
	font-size: 5em;
	color: rgb(0,0,0,0.3);
}
.card .imgBx{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	z-index: 1;
}
.card .imgBx img{
	max-width: 100%;
	transition: 0.5s;
}
.card:hover .imgBx img{
	max-width: 50%;
}
.card .contentBx{
	position: relative;
	padding:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}
.card .contentBx h3{
	font-size: 20px;
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.card .contentBx .price{
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
}
.card .contentBx .buy{
	position: relative;
	padding: 10px 30px;
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	background:rgb(200, 150, 0);
	border-radius: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.5s;
}
.card:hover .contentBx .buy{
	top: 0;
	opacity: 1
}
.card .contentBx .cart{
	position: relative;
	padding: 10px 30px;
	margin-top: 15px;
	color: #fff;
	text-decoration: none;
	background:rgb(255 195 14);
	border-radius: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition: 0.5s;
}
.card:hover .contentBx .cart{
	top: 0;
	opacity: 1
}